@import url('/src/assets/css/variables.css');
@import url('/src/assets/css/reset.css');


.popup-layout {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--black);
    z-index: 2;

    .header{
        width:100%;
        height: 35px;

        .close-btn {
            margin: 10px 10px 5px 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 1.3rem;
            height: 1.3rem;
            background: url('/src/assets/images/close.png') 50% 50% no-repeat;
        }
    }

    hr {
        height: 2px;
        background-color: var(--gray);
    }

    .v-btn {
        background-color: aquamarine;
    }
}

.body {
    overflow: hidden;
}

.carousel__icon {
    color: var(--white);
}

.slider {
    display: flex;
    align-items: stretch;
    width:100%;
    overflow: auto;
    scroll-snap-type: x mandatory;
    /* Chrome Canary */
    scroll-snap-type: mandatory;
    /* Firefox */
    -ms-scroll-snap-type: mandatory;
    /* IE/Edge */
    -webkit-scroll-snap-type: mandatory;
    /* Safari */
    -webkit-scroll-snap-destination: 0% 0%;
    -webkit-overflow-scrolling: touch;
    /* important for iOS */
}

.slider-item {
    padding: 10px 5px 0 5px;
    width: 20%;
    flex-shrink: 0;
    scroll-snap-align: start;
    /* latest (Chrome 69+) */
    scroll-snap-coordinate: 0% 0%;
    /* older (Firefox/IE) */
    -webkit-scroll-snap-coordinate: 0% 0%;
    /* older (Safari) */
}

.slider-item > img {
    width: 100%;
    height: 6rem;
    opacity: 0.5
}

.slider-item > .active {
    opacity: 1
}
