* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: 500;
}

/* Heading Font Size */
h1 {
    font-size: 28px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
em {
    font-style: normal;
}

button {
    border: none;
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul,
ol,
li,
a,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 0 none;
}